<h1 style="color:blue">Read File</h1>

<p>
	<a asp-controller="AzureFiles"
		asp-action="Index" class="btn btn-outline-dark">
		Back to Azure Files
	</a>
</p>

<p style="color:orangered;font-size: large">
	@ViewData["DATA"]
</p>